Source: libassuan
Section: libdevel
Priority: optional
Maintainer: Eric Dorland <eric@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1), libpth-dev
Standards-Version: 3.7.3.0
Vcs-Git: git://git.debian.org/~eric/libassuan.git
Vcs-Browser: http://git.debian.org/?p=users/eric/libassuan.git
Homepage: http://www.gnupg.org/(en)/related_software/libassuan/index.html

Package: libassuan-dev
Architecture: any
Depends: libc6-dev | libc-dev, libpth-dev
Description: IPC library for the GnuPG components
 An IPC library used by the next generation of GnuPG and its various
 components.
 .
 Right now it is only distributed as a static lib, since it is still
 under development.
